/* FONTS */
@font-face {
  font-family: 'AvantGarde';
  src: url("../../fonts/subset-AvantGarde-Bold.woff2") format("woff2");
}

/* DEFAULT */
* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: 'AvantGarde', sans-serif;
  font-size: 62.5%;
  background: #1a1b1f;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

input,
textarea {
  &:focus {
    outline: none;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* DEFAULT CLASSES */
.section {
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 4rem;

  @media (max-width: 425px) {
    padding: 4rem 0;
  }

  &__contents {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 1rem 5%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    &-label {
      font-size: 1.7rem;
      color: #c6c6c6;
      text-transform: uppercase;

      @media (max-width: 1024px) {
        font-size: 1.4rem;
      }

      @media (max-width: 425px) {
        font-size: 1.25rem;
      }
    }

    &-input {
      width: 100%;
      height: 4rem;
      font-size: 1.5rem;
      color: #c6c6c6;
      background: none;
      border: .1rem solid #c6c6c6;
      padding: 1rem;
    }
  }
  
  &__instruction {
    font-size: 1.5rem;
    color: #c6c6c6;
    text-align: center;
    margin: 4rem 0 0 0;
  }
  
  &__submit {
    width: 50%;
    height: 5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    background: #cca053;
    border: none;
    cursor: pointer;
  }
}

/* NAVBAR */
.nav {
  position: fixed;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  backdrop-filter: blur(.5rem);
  z-index: 2;

  @media (max-width: 768px) {
    top: 0;
    height: 8rem;
  }

  &__burger {
    position: relative;
    display: none;
    font-size: 4rem;
    color: #c6c6c6;
    background: none;
    border: none;
    padding: 0 4rem;
    margin: 0 2rem 0 0;

    @media (max-width: 768px) {
      display: block;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__logo {
    height: 100%;
    padding: 1rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      display: none;
    }

    &-link {
      position: relative;
      font-size: 1.35rem;
      text-transform: uppercase;
      color: #c6c6c6;
      padding: 2rem;
    }

    &-active {
      &:before {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 80%;
        height: .3rem;
        background: #cca053;
      }
    }
  }

  &__connect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @media (max-width: 768px) {
      display: none;
    }
    
    &-link {
      font-size: 1.35rem;
      text-transform: uppercase;
      padding: 2rem;
    }
    
    &-register {
      color: #000;
      background: #cca053;
    }

    &-connexion {
      color: #c6c6c6;
      border: .1rem solid #c6c6c6;
    }
  }

  &__modal {
    position: fixed;
    width: 100vw;
    height: 10vh;
    top: 7rem;
    display: none;
    place-items: center;
    backdrop-filter: blur(.5rem);
    opacity: 0;
    transform: translateY(-150%);
    transition: all 1s linear;
    z-index: 1;

    @media (max-width: 768px) {
      display: grid;
    }

    &-active {
      opacity: 1;
      transform: translateY(0);
    }

    &-menu {
      display: flex;
      font-size: 1.75rem;
    }
  }
}

/* HOME PAGE */
// home
.home {
  &__background {
    margin: 2rem 0 0 0;

    @media (max-width: 1024px) {
      margin: 4rem 0 0 0;
    }

    @media (max-width: 768px) {
      display: none;
    }

    &-mobile {
      display: none;

      @media (max-width: 768px) {
        display: block;
        margin: 8rem 0 0 0;
      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;

    &-header {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 4rem;

      @media (max-width: 425px) {
        padding: 1rem;
      }
    }
  }

  &__header {
    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 8rem;
        object-fit: contain;
        margin: 0 1rem;

        @media (max-width: 425px) {
          height: 6rem;
        }
      }
    }

    &-subtitle {
      font-size: 1.3rem;
      color: #fff;
      text-align: center;
      flex: 2 100%;

      @media (max-width: 425px) {
        font-size: 1rem;
      }
    }
  }

  &__services {
    &-title {
      font-size: 1.7rem;
      color: #fff;
      text-align: center;
      padding: 1rem;

      @media (max-width: 768px) {
        font-size: 1.2rem;
        padding: 4rem 0;
      }

      span {
        text-transform: uppercase;
      }
    }

    &-content {
      width: 80%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 0 5%;

      @media (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        padding: 0;
      }
    }

    &-service {
      position: relative;
      width: 33%;
      font-family: sans-serif;
      font-size: 1.4rem;
      color: #ffffff;
      text-align: center;
      padding: 3.5rem 0;

      @media (max-width: 768px) {
        width: 75%;
      }

      &:before {
        content: '';
        position: absolute;
        top: 15%;
        width: 12%;
        height: .1rem;
        transform: translateX(-50%);
        background: #c6c6c6;
      }

      p {
        padding: 0 2.2rem;

        @media (max-width: 768px) {
          padding: 0;
        }
      }
    }
  }
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;

  &__title {
    font-size: 3.25rem;
    color: #ffffff;
    padding: 3rem;
  }

  &__subtitle {
    font-family: sans-serif;
    font-size: 2.25rem;
    color: #c6c6c6;
    text-align: center;

    @media (max-width: 768px) {
      margin: 0 5%;
    }

    @media (max-width: 425px) {
      font-size: 2rem;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 10%;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 4rem 5%;
    }

    @media (max-width: 1024px) {
      padding: 4rem 0;
    }
  }

  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: #24272c;
    margin: 0 2rem;
    padding: 1rem 3rem 7rem 3rem;

    @media (max-width: 768px) {
      width: 90%;
      margin: 2rem;
      padding: 4rem;
    }

    @media (max-width: 1024px) {
      padding: 1rem 1rem 5rem;
    }

    @media (max-width: 425px) {
      padding: 4rem 0;
    }

    &-logo {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 4rem;
        object-fit: contain;
      }

      h3 {
        font-size: 1.6rem;
        color: #c6c6c6;
        text-transform: uppercase;

        @media (max-width: 425px) {
          font-size: 1.2rem;
        }
      }

      span {
        font-size: 1.5rem;
        color: #c6c6c6;
      }
    }

    &-price {
      width: 100%;
      height: 20%;
      font-size: 1.35rem;
      color: #c6c6c6;
      text-align: center;
      text-transform: uppercase;
      margin: -1rem 0 0 0;

      h4 {
        margin: 0 0 -1.25rem 0;

        span {
          font-size: 300%;
          opacity: 1;
        }
      }

      span {
        font-size: 75%;
        opacity: .5;
      }
    }

    &-content {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: start;
      text-align: center;
      padding: 1rem 0 0 0;

      h5 {
        font-size: 1.35rem;
        color: #c6c6c6;
        text-transform: uppercase;
        border: .1rem solid #c6c6c6;
        margin: .3rem 0;
        padding: 1rem 2rem;

        @media (max-width: 1024px) {
          padding: .5rem 0;
        }

        @media (max-width: 768px) {
          margin: .3rem 5%;
        }

        @media (max-width: 425px) {
          font-size: 1rem;
        }
      }

      div {
        @media (max-width: 768px) {
          margin: .3rem 5%;
        }
      }
    }
  }

  &-details {
    font-size: 1.15rem;
    color: #c6c6c6;
    opacity: .25;
    padding: .25rem;

    &First {
      margin: 2rem 0 0 0;
    }
  }

  &_content {
    div {
      display: flex;
      justify-content: center;
      border: .1rem solid #c6c6c6;
      padding: 1rem;

      img {
        width: 7rem;
      }

      span {
        color: #c6c6c6;
        opacity: .5;
        margin: -1rem 0 0 0;
      }
    }
  }

  &__first .offer__card-logo {
    flex-direction: column;
    align-items: center;
  }

  &__last .offer__card-logo {
    justify-content: space-evenly;
  }

  &__middle .offer__card-logo img {
    height: 6rem;
  }

  &__last .offer__card-logo img {
    width: 10rem;
  }
}

// instruction
.instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;

  &__title {
    font-family: sans-serif;
    font-size: 3.25rem;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 4rem 10%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__card {
    width: 25%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #24272c;
    text-align: center;
    padding: 2.5rem 3rem;

    @media (max-width: 768px) {
      width: 100%;
    }

    &-title {
      width: 100%;
      height: 100%;
      font-family: sans-serif;
      font-size: 1.5rem;
      color: #ffffff;
      opacity: .75;
    }

    &-icon {
      width: 100%;
      height: 100%;
      font-size: 5rem;
      color: #c6c6c6;
      opacity: .5;
    }

    &-icons {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;

      img {
        height: 5rem;
        margin: 0 .5rem;
      }
    }

    &-subtitle {
      width: 100%;
      height: 100%;
      font-family: sans-serif;
      font-size: 1.35rem;
      color: #c6c6c6;
      opacity: .5;
      padding: 0 0 1rem 0;

      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }
}

// bar
.bar {
  position: relative;

  @media (max-width: 1024px) {
    height: 70vh;
  }

  @media (max-width: 768px) {
    height: 75vh;
  }

  @media (max-width: 425px) {
    height: 100vh;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent, #1a1b1f);
    padding: 4rem;

    @media (max-width: 1024px) {
      margin: 0 0 4rem 0;
    }

    @media (max-width: 768px) {
      padding: 0 5%;
    }
  }

  &__logo {
    height: 8rem;
  }

  &__title {
    font-size: 3.25rem;
    color: #c6c6c6;
    text-align: center;
    padding: 2rem 0;

    @media (max-width: 1024px) {
      font-size: 2.5rem;
    }
  }

  &__subtitle {
    padding: 2rem 0;
  }

  &__subtitle,
  &__text {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #c6c6c6;
    opacity: .5;

    span {
      text-transform: uppercase;
    }
  }

  &__text {
    padding: 0 14%;

    @media (max-width: 768px) {
      padding: 0;
    }
  }
}

/* REGISTER */
.register {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;

  @media (max-width: 768px) {
    height: 100%;
    padding: 4rem 0 0 0;
  }

  @media (max-width: 425px) {
    padding: 6rem 0 0 0;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10%;
  }

  &__title {
    font-size: 3.25rem;
    color: #c6c6c6;

    @media (max-width: 375px) {
      font-size: 2.5rem;
    }
  }
}

/* FOOTER */
.footer {
  position: relative;
  width: 100%;
  height: 50rem;

  @media (max-width: 768px) {
    height: 100vh;
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#1a1b1f, transparent);
    padding: 4rem;
  }

  &__logo {
    height: 8rem;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 6rem;

    @media (max-width: 1024px) {
      padding: 6rem 0;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__nav,
  &__pages,
  &__socials {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #c6c6c6;
    opacity: .75;
    text-align: center;

    @media (max-width: 768px) {
      padding: 1rem 0;
    }

    &-menu {
      li {
        width: 100%;
        margin: .75rem 0;
      }
    }

    &-link {
      transition: opacity .4s linear;

      &:hover {
        opacity: .5;
      }
    }
  }

  &__nav,
  &__pages {
    @media (max-width: 425px) {
      font-size: 1.25rem;
    }

    &-menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__pages {
    padding: 0 3rem 0 0;

    @media (max-width: 768px) {
      margin: 0 0 2rem 0;
      padding: 0;
    }

    @media (max-width: 425px) {
      margin: 0 0 4rem 0;
    }
  }

  &__socials {
    &-menu {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      margin: 1.5rem 0;
    }

    &-circle {
      position: relative;
      width: 5rem;
      height: 5rem;
      font-size: 2.5rem;
      border: .2rem solid #c6c6c6;
      border-radius: 50%;

      &:nth-child(2) {
        margin: 0 1rem;

        @media (max-width: 768px) {
          margin: 0 3rem;
        }
      }
    }

    &-link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__copyright {
    font-size: 1.5rem;
    color: #c6c6c6;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 425px) {
      font-size: 1.25rem;
    }

    span {
      opacity: .5;
    }
  }
}