/* FONTS */
@font-face {
  font-family: "AvantGarde";
  src: url("../../fonts/subset-AvantGarde-Bold.woff2") format("woff2");
}
/* DEFAULT */
* {
  margin: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: "AvantGarde", sans-serif;
  font-size: 62.5%;
  background: #1a1b1f;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* DEFAULT CLASSES */
.section {
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 4rem;
}
@media (max-width: 425px) {
  .form {
    padding: 4rem 0;
  }
}
.form__contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 1rem 5%;
}
@media (max-width: 768px) {
  .form__contents {
    flex-direction: column;
  }
}
.form__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.form__content-label {
  font-size: 1.7rem;
  color: #c6c6c6;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .form__content-label {
    font-size: 1.4rem;
  }
}
@media (max-width: 425px) {
  .form__content-label {
    font-size: 1.25rem;
  }
}
.form__content-input {
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  color: #c6c6c6;
  background: none;
  border: 0.1rem solid #c6c6c6;
  padding: 1rem;
}
.form__instruction {
  font-size: 1.5rem;
  color: #c6c6c6;
  text-align: center;
  margin: 4rem 0 0 0;
}
.form__submit {
  width: 50%;
  height: 5rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  background: #cca053;
  border: none;
  cursor: pointer;
}

/* NAVBAR */
.nav {
  position: fixed;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  backdrop-filter: blur(0.5rem);
  z-index: 2;
}
@media (max-width: 768px) {
  .nav {
    top: 0;
    height: 8rem;
  }
}
.nav__burger {
  position: relative;
  display: none;
  font-size: 4rem;
  color: #c6c6c6;
  background: none;
  border: none;
  padding: 0 4rem;
  margin: 0 2rem 0 0;
}
@media (max-width: 768px) {
  .nav__burger {
    display: block;
  }
}
.nav__burger i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav__logo {
  height: 100%;
  padding: 1rem;
}
.nav__logo img {
  width: 100%;
  height: 100%;
}
.nav__buttons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .nav__menu {
    display: none;
  }
}
.nav__menu-link {
  position: relative;
  font-size: 1.35rem;
  text-transform: uppercase;
  color: #c6c6c6;
  padding: 2rem;
}
.nav__menu-active:before {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 80%;
  height: 0.3rem;
  background: #cca053;
}
.nav__connect {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .nav__connect {
    display: none;
  }
}
.nav__connect-link {
  font-size: 1.35rem;
  text-transform: uppercase;
  padding: 2rem;
}
.nav__connect-register {
  color: #000;
  background: #cca053;
}
.nav__connect-connexion {
  color: #c6c6c6;
  border: 0.1rem solid #c6c6c6;
}
.nav__modal {
  position: fixed;
  width: 100vw;
  height: 10vh;
  top: 7rem;
  display: none;
  place-items: center;
  backdrop-filter: blur(0.5rem);
  opacity: 0;
  transform: translateY(-150%);
  transition: all 1s linear;
  z-index: 1;
}
@media (max-width: 768px) {
  .nav__modal {
    display: grid;
  }
}
.nav__modal-active {
  opacity: 1;
  transform: translateY(0);
}
.nav__modal-menu {
  display: flex;
  font-size: 1.75rem;
}

/* HOME PAGE */
.home__background {
  margin: 2rem 0 0 0;
}
@media (max-width: 1024px) {
  .home__background {
    margin: 4rem 0 0 0;
  }
}
@media (max-width: 768px) {
  .home__background {
    display: none;
  }
}
.home__background-mobile {
  display: none;
}
@media (max-width: 768px) {
  .home__background-mobile {
    display: block;
    margin: 8rem 0 0 0;
  }
}
.home__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}
.home__container-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem;
}
@media (max-width: 425px) {
  .home__container-header {
    padding: 1rem;
  }
}
.home__header-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__header-content img {
  height: 8rem;
  object-fit: contain;
  margin: 0 1rem;
}
@media (max-width: 425px) {
  .home__header-content img {
    height: 6rem;
  }
}
.home__header-subtitle {
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  flex: 2 100%;
}
@media (max-width: 425px) {
  .home__header-subtitle {
    font-size: 1rem;
  }
}
.home__services-title {
  font-size: 1.7rem;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
@media (max-width: 768px) {
  .home__services-title {
    font-size: 1.2rem;
    padding: 4rem 0;
  }
}
.home__services-title span {
  text-transform: uppercase;
}
.home__services-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}
@media (max-width: 768px) {
  .home__services-content {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }
}
.home__services-service {
  position: relative;
  width: 33%;
  font-family: sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
  padding: 3.5rem 0;
}
@media (max-width: 768px) {
  .home__services-service {
    width: 75%;
  }
}
.home__services-service:before {
  content: "";
  position: absolute;
  top: 15%;
  width: 12%;
  height: 0.1rem;
  transform: translateX(-50%);
  background: #c6c6c6;
}
.home__services-service p {
  padding: 0 2.2rem;
}
@media (max-width: 768px) {
  .home__services-service p {
    padding: 0;
  }
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}
.offer__title {
  font-size: 3.25rem;
  color: #ffffff;
  padding: 3rem;
}
.offer__subtitle {
  font-family: sans-serif;
  font-size: 2.25rem;
  color: #c6c6c6;
  text-align: center;
}
@media (max-width: 768px) {
  .offer__subtitle {
    margin: 0 5%;
  }
}
@media (max-width: 425px) {
  .offer__subtitle {
    font-size: 2rem;
  }
}
.offer__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem 10%;
}
@media (max-width: 768px) {
  .offer__container {
    flex-direction: column;
    padding: 4rem 5%;
  }
}
@media (max-width: 1024px) {
  .offer__container {
    padding: 4rem 0;
  }
}
.offer__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: #24272c;
  margin: 0 2rem;
  padding: 1rem 3rem 7rem 3rem;
}
@media (max-width: 768px) {
  .offer__card {
    width: 90%;
    margin: 2rem;
    padding: 4rem;
  }
}
@media (max-width: 1024px) {
  .offer__card {
    padding: 1rem 1rem 5rem;
  }
}
@media (max-width: 425px) {
  .offer__card {
    padding: 4rem 0;
  }
}
.offer__card-logo {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer__card-logo img {
  height: 4rem;
  object-fit: contain;
}
.offer__card-logo h3 {
  font-size: 1.6rem;
  color: #c6c6c6;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .offer__card-logo h3 {
    font-size: 1.2rem;
  }
}
.offer__card-logo span {
  font-size: 1.5rem;
  color: #c6c6c6;
}
.offer__card-price {
  width: 100%;
  height: 20%;
  font-size: 1.35rem;
  color: #c6c6c6;
  text-align: center;
  text-transform: uppercase;
  margin: -1rem 0 0 0;
}
.offer__card-price h4 {
  margin: 0 0 -1.25rem 0;
}
.offer__card-price h4 span {
  font-size: 300%;
  opacity: 1;
}
.offer__card-price span {
  font-size: 75%;
  opacity: 0.5;
}
.offer__card-content {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  text-align: center;
  padding: 1rem 0 0 0;
}
.offer__card-content h5 {
  font-size: 1.35rem;
  color: #c6c6c6;
  text-transform: uppercase;
  border: 0.1rem solid #c6c6c6;
  margin: 0.3rem 0;
  padding: 1rem 2rem;
}
@media (max-width: 1024px) {
  .offer__card-content h5 {
    padding: 0.5rem 0;
  }
}
@media (max-width: 768px) {
  .offer__card-content h5 {
    margin: 0.3rem 5%;
  }
}
@media (max-width: 425px) {
  .offer__card-content h5 {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .offer__card-content div {
    margin: 0.3rem 5%;
  }
}
.offer-details {
  font-size: 1.15rem;
  color: #c6c6c6;
  opacity: 0.25;
  padding: 0.25rem;
}
.offer-detailsFirst {
  margin: 2rem 0 0 0;
}
.offer_content div {
  display: flex;
  justify-content: center;
  border: 0.1rem solid #c6c6c6;
  padding: 1rem;
}
.offer_content div img {
  width: 7rem;
}
.offer_content div span {
  color: #c6c6c6;
  opacity: 0.5;
  margin: -1rem 0 0 0;
}
.offer__first .offer__card-logo {
  flex-direction: column;
  align-items: center;
}
.offer__last .offer__card-logo {
  justify-content: space-evenly;
}
.offer__middle .offer__card-logo img {
  height: 6rem;
}
.offer__last .offer__card-logo img {
  width: 10rem;
}

.instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}
.instruction__title {
  font-family: sans-serif;
  font-size: 3.25rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 768px) {
  .instruction__title {
    font-size: 2rem;
  }
}
.instruction__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 4rem 10%;
}
@media (max-width: 768px) {
  .instruction__container {
    flex-direction: column;
  }
}
.instruction__card {
  width: 25%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #24272c;
  text-align: center;
  padding: 2.5rem 3rem;
}
@media (max-width: 768px) {
  .instruction__card {
    width: 100%;
  }
}
.instruction__card-title {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  opacity: 0.75;
}
.instruction__card-icon {
  width: 100%;
  height: 100%;
  font-size: 5rem;
  color: #c6c6c6;
  opacity: 0.5;
}
.instruction__card-icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.instruction__card-icons img {
  height: 5rem;
  margin: 0 0.5rem;
}
.instruction__card-subtitle {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 1.35rem;
  color: #c6c6c6;
  opacity: 0.5;
  padding: 0 0 1rem 0;
}
@media (max-width: 768px) {
  .instruction__card-subtitle {
    padding: 0;
  }
}

.bar {
  position: relative;
}
@media (max-width: 1024px) {
  .bar {
    height: 70vh;
  }
}
@media (max-width: 768px) {
  .bar {
    height: 75vh;
  }
}
@media (max-width: 425px) {
  .bar {
    height: 100vh;
  }
}
.bar__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(transparent, #1a1b1f);
  padding: 4rem;
}
@media (max-width: 1024px) {
  .bar__container {
    margin: 0 0 4rem 0;
  }
}
@media (max-width: 768px) {
  .bar__container {
    padding: 0 5%;
  }
}
.bar__logo {
  height: 8rem;
}
.bar__title {
  font-size: 3.25rem;
  color: #c6c6c6;
  text-align: center;
  padding: 2rem 0;
}
@media (max-width: 1024px) {
  .bar__title {
    font-size: 2.5rem;
  }
}
.bar__subtitle {
  padding: 2rem 0;
}
.bar__subtitle, .bar__text {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #c6c6c6;
  opacity: 0.5;
}
.bar__subtitle span, .bar__text span {
  text-transform: uppercase;
}
.bar__text {
  padding: 0 14%;
}
@media (max-width: 768px) {
  .bar__text {
    padding: 0;
  }
}

/* REGISTER */
.register {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
@media (max-width: 768px) {
  .register {
    height: 100%;
    padding: 4rem 0 0 0;
  }
}
@media (max-width: 425px) {
  .register {
    padding: 6rem 0 0 0;
  }
}
.register__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10%;
}
.register__title {
  font-size: 3.25rem;
  color: #c6c6c6;
}
@media (max-width: 375px) {
  .register__title {
    font-size: 2.5rem;
  }
}

/* FOOTER */
.footer {
  position: relative;
  width: 100%;
  height: 50rem;
}
@media (max-width: 768px) {
  .footer {
    height: 100vh;
  }
}
.footer__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#1a1b1f, transparent);
  padding: 4rem;
}
.footer__logo {
  height: 8rem;
}
.footer__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 6rem;
}
@media (max-width: 1024px) {
  .footer__content {
    padding: 6rem 0;
  }
}
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__nav, .footer__pages, .footer__socials {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #c6c6c6;
  opacity: 0.75;
  text-align: center;
}
@media (max-width: 768px) {
  .footer__nav, .footer__pages, .footer__socials {
    padding: 1rem 0;
  }
}
.footer__nav-menu li, .footer__pages-menu li, .footer__socials-menu li {
  width: 100%;
  margin: 0.75rem 0;
}
.footer__nav-link, .footer__pages-link, .footer__socials-link {
  transition: opacity 0.4s linear;
}
.footer__nav-link:hover, .footer__pages-link:hover, .footer__socials-link:hover {
  opacity: 0.5;
}
@media (max-width: 425px) {
  .footer__nav, .footer__pages {
    font-size: 1.25rem;
  }
}
.footer__nav-menu, .footer__pages-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__pages {
  padding: 0 3rem 0 0;
}
@media (max-width: 768px) {
  .footer__pages {
    margin: 0 0 2rem 0;
    padding: 0;
  }
}
@media (max-width: 425px) {
  .footer__pages {
    margin: 0 0 4rem 0;
  }
}
.footer__socials-menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}
.footer__socials-circle {
  position: relative;
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  border: 0.2rem solid #c6c6c6;
  border-radius: 50%;
}
.footer__socials-circle:nth-child(2) {
  margin: 0 1rem;
}
@media (max-width: 768px) {
  .footer__socials-circle:nth-child(2) {
    margin: 0 3rem;
  }
}
.footer__socials-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__copyright {
  font-size: 1.5rem;
  color: #c6c6c6;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 425px) {
  .footer__copyright {
    font-size: 1.25rem;
  }
}
.footer__copyright span {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
